/*
 *  Copyright (C) 2011 - 2014 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 *
 * This software is licensed under the terms of the GNU General Public
 * License version 2, as published by the Free Software Foundation, and
 * may be copied, distributed, and modified under those terms.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
/dts-v1/;
/include/ "zynq-7000.dtsi"

/ {
	model = "Video Sniffer ZX3/Starter";
	compatible = "xlnx,zynq-zed", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart1;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x20000000>;
	};

	amba {
		fpga-axi@0 {
			compatible = "simple-bus";
			#address-cells = <0x1>;
			#size-cells = <0x1>;
			ranges;

			vsniffdatavdma:axivdma@43000000 {
				compatible = "xlnx,axi-vdma-1.00.a";
				#address-cells = <0x1>;
				#size-cells = <0x1>;
				#dma-cells = <0x1>;
				#dma-channels = <0x1>;
				reg = <0x43000000 0x10000>;
				xlnx,num-fstores = <0x1>;
				xlnx,flush-fsync = <0x1>;

				dma-channel1@43000000 {
					compatible = "xlnx,axi-vdma-s2mm-channel";
					interrupts = <0x0 0x1d 0x4>;
					xlnx,datawidth = <0x20>;
					xlnx,genlock-mode = <0x2>;
					xlnx,include-dre = <0x0>;
				};
			};

			vsniffdata@7a200000 {
				compatible = "vsniff,video-sniffer-data";
				reg = <0x43c00000 0x10000>;
				dmas = <&vsniffdatavdma 0x1>;
				dma-names = "captured-video";
			};

			output_vdma:axivdma@43010000 {
				compatible = "xlnx,axi-vdma-1.00.a";
				#address-cells = <0x1>;
				#size-cells = <0x1>;
				#dma-cells = <0x1>;
				#dma-channels = <0x1>;
				reg = <0x43010000 0x10000>;
				xlnx,num-fstores = <0x3>;
				xlnx,flush-fsync = <0x1>;

				dma-channel0@80000000 {
					compatible = "xlnx,axi-vdma-mm2s-channel";
					interrupts = <0x0 0x1e 0x4>;
					xlnx,datawidth = <0x20>;
					xlnx,genlock-mode = <0x3>;
					xlnx,include-dre = <0x0>;
				};
			};

			axi_hdmi@43c10000 {
				compatible = "ant,axi-dispctrl-hdmi-tx";
				reg = <0x43c10000 0x10000>;
				dmas = <&output_vdma 0x0>;
				dma-names = "video";
			};
		};
	};
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@3 {
		reg = <3>;
	};
};

&uart1 {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	phy_type = "ulpi";
};
